<p>Assistência de Senha</p>

<p>Para verificar sua identidade, use o seguinte código: {{token}}</p>

<p>
A UpLaw se preocupa muito com a segurança de sua conta.
A UpLaw nunca lhe enviará e-mails pedindo que informe ou confirme a sua senha, o seu número de cartão de crédito ou de sua conta bancária. Se você receber um e-mail suspeito com um link para atualizar as informações de sua conta, não clique nele— Em vez disso, envie o e-mail para a UpLaw para investigação.
Esperamos vê-lo novamente em breve.
</p>
