<p>Você foi convidado para utilizar utilizar o aplicativo da PrevServ junto ao condóminio {{condominium}} pelo {{user}}</p>

<p>Para criar sua conta e participar, <a href="http://localhost:3000/register">CLIQUE AQUI</a></p>
